body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.container {
    border: 2px solid #ff69b4;
    border-radius: 15px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    animation: fadeIn 3s;
    align-items: center;
}

h1 {
    font-size: 2.5em;
    color: #ff1493;
}

.description {
    margin: 20px 0;
    font-size: 1.5em;
    color: #333;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s, transform 0.5s;
    
}

.couple {
    margin: 20px 0;
    height: 200px; 
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.5s;
}
    
 
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff69b4;
    color: white;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff1493;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
